h1 {
    color : blue
}
h2{
    color : cyan
}

.container {
    display: flex;
}

.cards {
    width: 200px;
    height: 200px;
    transform: translateY(0px);
    transform: rotate(0turn);
  /*   transform: translateY(0px); */
    transition: transform 0.5s ease;

  }

  #card0 {
 background-color: red;
}

#card1 {
 background-color: orange;
}

#card2 {
 background-color: yellow;
}

#card3 {
 background-color: green;
}

#card4 {
 background-color: blue;
}

/* Etat qui vient écraser le premier lorsque le container obtient la classe active */

.active {
  transform: translateY(300px);
  transform: rotate(0.125turn);
}
